<html>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<body>
<div id='map' style='height:550px; width: 1000px;'></div>

<script>

// global variables //
var OneMap_Token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjgxMTAsInVzZXJfaWQiOjgxMTAsImVtYWlsIjoia2VpdGgubG9vQGdhdGVjaC5lZHUiLCJmb3JldmVyIjpmYWxzZSwiaXNzIjoiaHR0cDpcL1wvb20yLmRmZS5vbmVtYXAuc2dcL2FwaVwvdjJcL3VzZXJcL3Nlc3Npb24iLCJpYXQiOjE2MzU4MjczMzEsImV4cCI6MTYzNjI1OTMzMSwibmJmIjoxNjM1ODI3MzMxLCJqdGkiOiI3ZDRjMjYzOTg2NWY2YjUyMTMxYWI4NGU3MDIzMTgxZiJ9.1hAkQfZUTY1LsAqIKoi0lbXqYi3jCnIgkK3XBFaw34c"

// testing variables //
var testSearch = "J Gateway"
var testlocationXY = {x: 26196.0124962935, y: 30258.525668541, name: "Artra"} //"X":"26196.0124962935","Y":"30258.525668541"
var testlocationLatLong1 = {latitude: 1.2901276549478262, longitude: 103.81655234786841, name: "Artra", price: 1700000} //"LATITUDE":"1.2901276549478262","LONGITUDE":"103.81655234786841
var testlocationLatLong2 = {latitude: 1.33555731797921, longitude: 103.742416815373, name: "J Gateway", price: 1200000} //"LATITUDE":"1.33555731797921","LONGITUDE":"103.742416815373"
var testTheme = "kindergartens"
var tempLatLong = {latitude: 1.2901276549478262, longitude: 103.81655234786841, name: "Artra", road: "Alexandra View"}

// icon variables //
var hse_icon = L.icon({
    //iconUrl: "../icons/hse.jpg",
    iconUrl: "{{ url_for('static', filename='/bulma/icons/hse.jpg') }}",    
    iconSize: [25, 25], // size of the icon
});
var sch_icon = L.icon({
    iconUrl: "{{ url_for('static', filename='/bulma/icons/sch.png') }}",
    iconSize: [20, 20], // size of the icon
});
var mall_icon = L.icon({
    iconUrl: "{{ url_for('static', filename='/bulma/icons/mall.png') }}",
    iconSize: [20, 20], // size of the icon
});
var mkt_icon = L.icon({
    iconUrl: "{{ url_for('static', filename='/bulma/icons/mkt.jpg') }}",
    iconSize: [20, 20], // size of the icon
});

// OneMap APIs //
function nameSearch(){
    $.ajax({
        url: "https://developers.onemap.sg/commonapi/search?searchVal="+testSearch+"&returnGeom=Y&getAddrDetails=Y&pageNum=1",
        success: function(result) {
        var TrueResult = JSON.stringify(result); //Set result to a variable for writing
        console.log(TrueResult); //document.write(TrueResult);
    }});
}

function GeoXY(){
    $.ajax({
        url: "https://developers.onemap.sg/privateapi/commonsvc/revgeocodexy?location="+testlocationXY.x+","+testlocationXY.y+"&token="+OneMap_Token+"&buffer=10&addressType=all",
        success: function(result){
        var TrueResult = JSON.stringify(result); //Set result to a variable for writing
        console.log(TrueResult); //document.write(TrueResult);
    }});                  
}

function GeoLatLong(input, PopUp_flag){
    $.ajax({
        url: "https://developers.onemap.sg/privateapi/commonsvc/revgeocode?location="+input.latitude+","+input.longitude+"&token="+OneMap_Token+"&buffer=10&addressType=all",
        success: function(result){
            var TrueResult = JSON.stringify(result); //Set result to a variable for writing
            //console.log(TrueResult); //document.write(TrueResult);
            console.log(result.GeocodeInfo[0].BUILDINGNAME);
            
            var position = {
                latitude: input.latitude,
                longitude: input.longitude,
                name: result.GeocodeInfo[0].BUILDINGNAME
            };
            if (PopUp_flag == 1) { showPopUp(position); }
        }
    });
}

// functions //
function onEachFeature (feature, layer) {
    layer.bindPopup("Name: <b>" + feature.properties.name + "</b>");
}

function pointToLayer (feature, latlng) {
    switch (feature.properties.description) {
        case "Property": return L.marker(latlng, {icon: hse_icon});
        case "School": return L.marker(latlng, {icon: sch_icon});
        case "Mall": return L.marker(latlng, {icon: mall_icon});
        case "Supermarket": return L.marker(latlng, {icon: mkt_icon});
    }
}

function onClick(e) {
    
    map.fitBounds([e.latlng])

    if (features_layer == null) {
        showFeatures(e.sourceTarget.feature.properties.item)
    }
    else {
        hideFeatures()
        showFeatures(e.sourceTarget.feature.properties.item)
    }    
}

function showFeatures(item) {
    features_layer = L.geoJSON(GeoJSon_properties, {
        onEachFeature: onEachFeature,
        pointToLayer: pointToLayer,
        filter: function(feature, layer) {
            if (feature.properties.item == item && feature.properties.description != "Property") return true;
        }
    }).addTo(map);
}

function hideFeatures() {
    map.removeLayer(features_layer);
}

// global variables //
var features_visible = false
var GeoJSon_properties 
var property_layer
var features_layer

var testGeoJSon_properties = [
    // #1 Property //
    {
        "type": "Feature",
        "properties": {
            "item": 1,
            "description": "Property",
            "name": "119 ANG MO KIO AVE 3", // "popupContent": "#1 Property"
            "price_per_sqm": 4451.222288,
            "overall_score": 11.145,
        },
        "geometry": {
            "type": "Point",
            "coordinates": [103.8446989, 1.369563443]
        }
    },

    {
        "type": "Feature",
        "properties": {
            "item": 1,
            "description": "School",
            "name": "TECK GHEE PRIMARY SCHOOL",
        },
        "geometry": {
            "type": "Point",
            "coordinates": [103.851009800453, 1.36565018546903]
        }
    },

    {
        "type": "Feature",
        "properties": {
            "item": 1,
            "description": "Mall",
            "name": "AMK Hub",
        },
        "geometry": {
            "type": "Point",
            "coordinates": [103.8484398, 1.36953]
        }
    },

    {
        "type": "Feature",
        "properties": {
            "item": 1,
            "description": "Supermarket",
            "name": "SHENG SIONG SUPERMARKET",
        },
        "geometry": {
            "type": "Point",
            "coordinates": [103.843413231524, 1.37018860668947]
        }
    },

    // #2 Property //
    {
        "type": "Feature",
        "properties": {
            "item": 2,
            "description": "Property",
            "name": "120 ANG MO KIO AVE 3",
        },
        "geometry": {
            "type": "Point",
            "coordinates": [103.8445948, 1.370047397]
        }
    },

    {
        "type": "Feature",
        "properties": {
            "item": 2,
            "description": "School",
            "name": "TECK GHEE PRIMARY SCHOOL",
        },
        "geometry": {
            "type": "Point",
            "coordinates": [103.851009800453, 1.36565018546903]
        }
    },

    {
        "type": "Feature",
        "properties": {
            "item": 2,
            "description": "Mall",
            "name": "AMK Hub",
        },
        "geometry": {
            "type": "Point",
            "coordinates": [103.8484398, 1.36953]
        }
    },

    {
        "type": "Feature",
        "properties": {
            "item": 2,
            "description": "Supermarket",
            "name": "SHENG SIONG SUPERMARKET",
        },
        "geometry": {
            "type": "Point",
            "coordinates": [103.843413231524, 1.37018860668947]
        }
    },
    
    // #3 Property //
    {
        "type": "Feature",
        "properties": {
            "item": 3,
            "description": "Property",
            "name": "201 ANG MO KIO AVE 3",
        },
        "geometry": {
            "type": "Point",
            "coordinates": [103.8445648, 1.368849627]
        }
    }
];


// map variables //
var default_map = L.tileLayer("https://maps-{s}.onemap.sg/v3/Default/{z}/{x}/{y}.png", {detectRetina: true, maxZoom: 18, minZoom: 11});
var map = L.map('map', {center: [1.355, 103.81], zoom: 12 }); //layers: [default_map]

// layer variables //
var base_maps = { "Default": default_map };
var overlay_maps = {}; //var overlayMaps = { //"Boundaries" : boundaries, //"Locations": locations };
//var area_layer = L.geoJSON(null, {onEachFeature: onEachFeature, style: onEachStyle}).addTo(map);

axios.get('http://127.0.0.1:5000/GeoJSon_properties').then(response => {
    console.log(response.data)
    GeoJSon_properties = response.data;
    
    property_layer = L.geoJSON(GeoJSon_properties, {
        onEachFeature: onEachFeature,
        pointToLayer: pointToLayer,
        filter: function(feature, layer) {
            if (feature.properties.description == "Property") return true;
        }   
    }).on('click', onClick)

    default_map.addTo(map);
    property_layer.addTo(map);
    //map.fitBounds(property_layer)
})

</script>
</body>
</html>